.wrapper{
    display: grid;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    grid-template-columns: 100px 100px;
    grid-auto-rows: 100px 30px 30px 50px 50px 50px;
    margin: 30px;
    grid-template-areas: 
    "company-logo company-logo"
    "company company"
    "input input"
    "invest-withdraw invest-withdraw"
    "curinv-text curinv"
    "aftinv-text aftinv";
}
.company-logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: white;
    grid-area: company-logo;
}
.company{ 
    grid-area: company; 
}
.input{ 
    height: 20px;
    border-radius: 5px;
    border: none;
    grid-area: input;  
 }
.curinv{ 
    grid-area: curinv;  
}
.aftinv{ 
    grid-area: aftinv;
 }
.invest-withdraw{
    grid-area: invest-withdraw;
    display: flex;
    justify-content: center;
    background-color: rgb(48, 212, 254);
    padding: 8px 1px 12px 1px;
    border-radius: 30px;
    width: 40%;
}
.curinv-text{ 
    text-align: center;
    grid-area: curinv-text;  
}
.aftinv-text{ 
    text-align: center;
    grid-area: aftinv-text;
 }
 .invest-radio, .withdraw-radio{
    display: none;
 }
 .invest-radio:checked~.invest-text, .withdraw-radio:checked~.withdraw-text{
    color: black;
    width: 50px;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
    text-align: center;
    transition: 0.3s;
 }
 .invest-text, .withdraw-text{
    font-size: 10px;
    color: white;
    width: 50px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
 }