.wrapper{
    display: grid;
    grid-template-rows: 80px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
}
.comp0{
    grid-row: 2;
    /* grid-column: 1; */
}
.comp1{
    grid-row: 3;
    /* grid-column: 2; */
}
.comp2{
    grid-row: 4;
    /* grid-column: 3; */
}
.comp3{
    grid-row: 5;
}
.comp4{
    grid-row: 6;
}
.comp5{
    grid-row: 7;
}
.comp6{
    grid-row: 8;
}
.comp7{
    grid-row: 9;
}
.comp8{
    grid-row: 10;
}
.header{
    /* position: relative; */
    /* top:60px; */
    /* left: 30px; */
    grid-row: 1;
}
.button{
    /* position: relative; */
    /* top: 700px; */
    /* left: 700px; */
    font-size: 50px;
}