.wait{
    position: absolute;
    margin: 0 0;
    /* left: 600px;
    top: 200px; */
    font-size: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.no{
    position: absolute;
    margin: 0 0;
    /* left: 600px;
    top: 200px; */
    font-size: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); 
}