.wait{
    /* position: absolute; */
    margin: 0 0;
    /* left: 600px;
    top: 200px; */
    font-size: 50px;
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%,-50%); */
}
.no{
    /* position: absolute; */
    margin: 0 0;
    /* left: 600px;
    top: 200px; */
    font-size: 10px;
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%,-50%);  */
}