.ul{
    background-color: none;
}
.render{
    background-color: none;
    color: rgb(48, 212, 254);
}
.nouser{
    color: rgb(48, 212, 254);
    font-size: 200px;
}
.noauth{
    color: rgb(48, 212, 254);
    font-size: 200px;
    
}
.reset-button{
    position: fixed;
    right: 30px;
    bottom: 30px;
}