.time-left{
    font-size: 45px;
    top: 600px;
    width: 28%;
    min-width: 300px;
    text-align: center;
    padding: 0;
    color: rgb(48, 212, 254);
    font-weight: 600;
    position: fixed;
    z-index: 20;
}