.au1{
    position: absolute;
    left: 30px;
}
.au2{
    position: absolute;
    left: 100px;
}
.au3{
    position: absolute;
    left: 155px;
}
.au4{
    position: absolute;
    left: 225px;
}
.au5{
    position: absolute;
    left: 280px;
}
.hr{
    position: absolute;
    top: 60px;
}