.container{
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    background-color: none;
    /* text-align: center; */
}
.au5{
    width: 30%;
    text-align: center;
    /* position: relative; */
    /* background-color: rgb(245, 245, 245); */
    /* border-right: solid lightgray; */
    /* width: 10%; */
    
}
.au0{
    width: 90%;
    font-size: 30px;
    padding-top: 10px;
    font-weight: 900;
    padding-left: 20px;
}
/* .au1{
    width: 10%;
    padding-top: 18px;
}
.au2{
    width: 10%;
    padding-top: 18px;
}
.au3{
    width: 10%;
    padding-top: 18px;
}
.au4{
    width: 10%;
    padding-top: 18px;
} */
.au5{
    width: 10%;
    padding-top: 18px;
} 
.au5:hover{
    background-color: rgb(226, 226, 226);
}
body{
    padding: 0;
    margin: 0;
}
.l1{
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    display: block;
    height: 60px;
    padding-top: 17px;
}
a{
    text-decoration: none;
    color: rgb(48, 212, 254);
}